        @import url('https://fonts.googleapis.com/css?family=Montserrat');

        .container-fluid {
            font-family: Montserrat,Verdana,Geneva,sans-serif;            
        }
        #maintext {
            margin: 10px 10px 0px 31px;
            font-family: Montserrat,Verdana,Geneva,sans-serif;
            font-size: 24px;
            color: #5E5E5E;
            font-weight: bold;
        }
        a {
            color: #90A4CC;
            font-weight: bold;
            text-decoration: none;
        }
        a:hover {
            color: #303288;
            text-decoration: none; /* Removes the underline */
        }
        #image img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: 978px) {
            .navbar-expand-sm {
                padding:10px;
                margin:0px;
            }
            #maintext {
                padding:10px;
                margin-left: 10px;
            }
            .container-fluid {
                font-size: 16px;            
            }
        }